doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, intialscale=1.0")
    title Russia
    link(rel='stylesheet' type="text/css" href="/css/bootstrap.css")
    link(rel='stylesheet' type="text/css" href='/Users/css/all.min.css')
    include _style
  body
    .container.mt-5
      section.heading
      section.content.mt-5.pt-3
        h4.email-heading Natours
        .card.bg-primary.mt-4.w-75
          .card-body.p-5
           block content
        .footer.email-footer.text-center.mt-3
          footer.text-muted
            hr
            small.text-center Natours inc, 123 Nowhere road San Francisco CA 9999
            //a.d-block.mt-1(href="#")
              | Dont like this Email? Unsubscribe
    script(src="/js/jquery-3.0.0.min.js")
    script(src="/js/bootstrap.js") 
    script(src="/js/popper.min.js")
    script(src='/js/bundle.js')


	
  
  
  