<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intialscale=1.0" />
    <title>Russia</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <style>
        .email-heading {
            color:blue;
            font-weight: 500;
            font-size: ;
        }
    </style>
</head>

<body class=''>
    <div class="container mt-5">
        <section class="heading"></section>
        <section class="content mt-5 pt-3">
            <h4 class="email-heading">Natours</h4>
            <div class="card bg-primary  w-75">
                <div class="card-body p-5">
                    <p>Hi name,</p>
                    <p class="card-title">
                        Welcome to Natours, We are Glad to have you!
                    </p>
                    <a href="#" class="btn btn-primary btn-md">Upload User Photo</a>
                    <p class="card-text mt-3">
                        If you need any help with booking your next tour, please do not hesitate to contact me!
                    </p>
                    <p class="blockquote-footer text-dark mt-3">
                        Orebayo Oluwapelumi, CEO
                    </p>
                </div>
            </div>
            <div class="footer email-footer text-center mt-3">
                <footer class="text-muted">
                    <small>Natours inc, 123 Nowhere road San Francisco CA 9999</small>
                    <a href="#" class="d-block mt-1">Dont like this Email? Unsubscribe</small>
                </footer>
            </div>
        </section>
    </div>
    <script src=" /js/jquery-3.0.0.min.js "></script>
    <script src="/js/popper.min.js "></script>
    <script src="/js/bootstrap.js "></script>
</body>

</html>