extends baseEmail
block content
 p Hi #{Firstname},
 p.card-title
    | Forgot your password? Reset your password using this link:#{url}
 p (Website with this action not yet implented.)
 if token
  a.btn.btn-md#Resetbtn(href=`${url}`) Click here to Reset your password
  
 p.card-text.mt-3.text-center
    |  if you didn't forget your password ignore this email
 