extends baseEmail
block content
 p Hi #{Firstname},
 p.card-title
    | Welcome to Natours, We are Glad to have you!

 p.card-text.mt-3
    | If you need any help with booking your next tour, please do not hesitate to contact me!
 p.blockquote-footer.text-dark.mt-3
    | Orebayo Oluwapelumi, CEO