.container
.footer.p-4.main-footer.d-flex.justify-content-between
 h6.mt-2 &copy;Natours
 .content.d-flex.justify-content-center
  .footer-info.p-2
   a(href="#") About us
   a(href="#") Download apps
   a(href="#") Become a guide
   a(href="#") Careers
   a(href="#") Contact
   

  